<a href="https://colab.research.google.com/github/briant0618/Colab/blob/main/6_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/07/07
이름 : 김동현
내용 : SVM[Support Vector Machine]
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
from google.colab import drive

In [ ]:
# data불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
# 학습 데이터 준비
iris_data = df_iris[['sepal.length','sepal.width','petal.length','petal.width']]
iris_label = df_iris['variety']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label) # 학습의 신뢰성을 위해서 무작위로 섞어서 학습

# test_data.shape

(38, 4)

In [ ]:
# 학습하기
model = svm.SVC()
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# 테스트하기
result = model.predict(test_data)
result

array(['Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [ ]:
# 성능평가 [학습률 -> 채점하기]
metrics.accuracy_score(result, test_label)

0.9210526315789473